@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/**********SIDEBAR*************/
/* #nav_list li.active a{
color: gray;} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }

/**********SIDEBAR*************/




::selection{
  color: #fff;
  background: #11101d;
}
.sidebar{
  position: fixed;
  /* change */
  margin-top: 0px;
  /* top: auto; */
  left: 0;
  height: 100%;
  width: 78px;
  background: #09203f;
  /*linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);*/
  padding: 6px 14px;
  z-index: 9;
  transition: all 0.2s ease;
}
.sidebar.active{
  width: 250px;
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 5px ;
  list-style: none;
  line-height: 50px;
  
}

.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
  /* height:mazzzzzzz; */
  transition: all 0.4s ease;
}
.sidebar ul li.active a{
  background: #fff;
  color: #11101d;
  
  
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto;
}



/*******HOME CONTENT******/

 .home_content{
  /* position: absolute; */
 /*height: 100%;
  width: calc(100% - 78px);*/
  /* left: 78px; */
  /*background: linear-gradient(to top, white 0%, #dfe9f3 100%);
  /*#f3e7e9;*/
  margin-left: 78px;
  /* margin: 0; */
  padding: 0;
  /* top: 0; */
  box-shadow: 0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home_content{
  z-index: 1;
}

/* .sidebar.active ~ .home_content{
  width: calc(100% - 260px);
 margin-left: 260px;
} */



/********BASIC********/
.basic{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1.5px solid #D7E2EF;
  /* height: 80%; */
  max-width: 45rem;
  /* margin: 6rem 0 0 13rem; */
  margin:auto;
  
  background: white;
  box-shadow: 0px 0px 31.9358px 19.1615px rgba(0, 0, 0, 0.10);
 
}

.basic header{
  color: #DE7FD3;
  text-align: center;
  font-weight: 800;
  background: #09203f;
  font-size: 1.5rem;
  font-family: Roboto Slab;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.basic hr{
  border: 1.5px solid #DE7FD3;
  width: 100%;
}

.basic-form{
  /* margin-left: 7rem; */
  margin: 1rem auto ;
  padding: 1em;
  /* margin-top: 2rem; */
}
/*background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);*/
.basic-form div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
        /* for font */
  font-size: 0.875rem;
  font-weight: 500;
  font-family: 'Poppins';
  text-decoration: none;
    /* font-weight: 500; */
    /* color: #C19A6B; */
  font-style: normal;
  color: #595959;
 
}

.basic-form div input{
  border: 1.08329px solid #BBBBBB;
  background: #FFFFFF;
  width: 100%;
}

.attach-email textarea {
    width: 100%;
    min-height: 80px;
    padding: 12px 20px;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: 1.08329px solid #BBBBBB; 
    font-size: 0.800rem;
    resize: none;
    overflow-y: auto ;
    font-family: Poppins;
}

.attach-email{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
}
    
/**********CONTENT**********/

.content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1.5px solid #D7E2EF;
  max-width: 45rem;
  margin: 6rem auto;
  background: white;
  box-shadow: 0px 0px 31.9358px 19.1615px rgba(0, 0, 0, 0.10);
  font-family: Poppins;
  color: #595959;
  font-size: 0.875rem;
  font-weight: 500;
}

.content header{
  color: #DE7FD3;
  text-align: center;
  font-weight: 800;
  background: #09203f;
  font-size: 1.5rem;
  font-family: Roboto Slab;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.content-form{
 
  margin: 1rem auto ;
  padding: 1em;
}

.content-text-box textarea {
    width: 100%;
    min-height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1.08329px solid #BBBBBB; 
    font-size: 0.800rem;
    resize: none;
    overflow-y: auto ;
    font-family: Poppins;
}



/*******TEMPLATE*********/

.template{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1.5px solid #D7E2EF;
  height: max-content;
  max-width: 45rem;
  margin: 6rem auto;
  background: white;
  box-shadow: 0px 0px 31.9358px 19.1615px rgba(0, 0, 0, 0.10);
  font-family: 'Poppins';

}

.template header{
  color: #DE7FD3;
  text-align: center;
  font-weight: 800;
  background: #09203f;
  font-size: 1.5rem;
  font-family: Roboto Slab;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.grid-container{
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem auto;
  /* width: 100%; */
  
}
.grid-item{
margin: 0.5rem;
/* width: 100%; */
border: 5px solid gray;
}



.grid-container button{
  min-height:300px;
  min-width: 300px; 
  background-repeat: no-repeat;
  background-size:cover;
}

/* for giving grid item size small on mobile */
@media only screen and (max-width: 720px){
  .grid-container button{
    min-height:200px;
    min-width: 200px; }
}



  

      #b3{
           margin: 0;
          padding: 0;
      
        }
        


/**********Create camp**********/

.create-camp{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 1.5px solid #D7E2EF;
  /* height: 80%; */
  max-width: 45rem;
  margin: auto;
  /* margin-top: 6rem; */
  /* margin: auto; */
  background: white;
  box-shadow: 0px 0px 31.9358px 19.1615px rgba(0, 0, 0, 0.10);
  font-family: Poppins;
  color: #595959;
  font-size: 0.875rem;
  font-weight: 500;
}




.create-camp header{
  color: #DE7FD3;
  text-align: center;
  font-weight: 800;
  background: #09203f;
  font-size: 1.5rem;
  font-family: Roboto Slab;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.create-camp-form{
  /* margin-left: 7rem;
  margin-top: 2rem; */
  margin: 1rem auto ;
  padding: 1em;
}
.create-camp div input{
  border: 1.08329px solid #BBBBBB;
  background: #FFFFFF;
  width: 100%;
}
.create-camp textarea {
    width: 100%;
    min-height: 80px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1.08329px solid #BBBBBB; 
    font-size: 0.800rem;
    resize: none;
    overflow-y: auto ;
    font-family: Poppins;
}

.attach-create-camp{
  display: flex;
      flex-direction: column;
      /* align-items:initial; */
      flex-wrap: wrap;
      width: 100%;
}

    
    
        





